/* animacion */
@keyframes goku {
    0%   {background-size: 100%, 95%, 100%;}
   50%  {background-size: 99%, 95%, 98%; ;}
   100% {background-size: 98%, 95% , 96%;}
}
@-webkit-keyframes goku {
    0%   {background-size: 100%, 95%, 100%;}
    50%  {background-size: 98%, 95%, 98%; ;}
    100% {background-size: 96%, 95% , 96%;}
}
.animacion{
    position: fixed;
    bottom: 10vh;
    left: 15vh;
    width: 7vw;
    height: 40vh;
    background: url("../img/gokuparado.png") no-repeat;
    background-size:95%;
    z-index:-1;
}

.animacion-activa{
    position: fixed;
    bottom: 10vh;
    left: 15vh;
    width: 7vw;
    height: 40vh;
    background: url("../img//rayos.png") no-repeat ,url("../img/gokuparado.png") no-repeat,url("../img/ki.png") no-repeat ;
    animation: goku linear .5s infinite;
    z-index:-1;
}

.animacion-in{
    position: fixed;
    bottom: 10vh;
    left: 15vh;
    width: 7vw;
    height: 40vh;
    background: url("../img/gokuparado.png") no-repeat;
    background-size:95%;
    animation: all  2s ease-in forwards;
    z-index:-1;
}