@keyframes rotate {from {transform: rotate(0deg);}
    to {transform: rotate(360deg);}}
@-webkit-keyframes rotate {from {-webkit-transform: rotate(0deg);}
  to {-webkit-transform: rotate(360deg);}}
.esferas{
   width: 12%;
   height: 12%;
    -webkit-animation: 10s rotate linear infinite;
    animation: 10s rotate linear infinite;
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
}
/* @keyframes animated {
    /* casa, nube chica , nube grande
    0%   {background-position: 0 0, 0 0, 10% 0;}
    25%  {background-position: 0 0, 10% 0 15% 2%;}
    50%  {background-position: 0 0, 20% 0%, 20% 4%;}
    75%  {background-position: 0 0, 35% 0%, 25% 6%;}
    100% {background-position: 0 0, 50% 0%, 50% 10%;}
}

@-webkit-keyframes animated {
    0%   {background-position: 0 0, 0 0, 10% 0;}
    25%  {background-position: 0 0, 20% 0 15% 2%;}
    50%  {background-position: 0 0, 50% 0%, 20% 4%;}
    75%  {background-position: 0 0, 65% 0%, 55% 2%;}
    100% {background-position: 0 0, 100% 0%, 100% 0%;}
} */

@keyframes animated {
     /* casa, nube grande , nube media, nube chica*/
    0%   {background-position: 0 0, left 0%, 30% 40%, 70% 60%;}
    50%  {background-position: 0 0, 55% 0%, 70% 40%, 80% 60% ;}
    100% {background-position: 0 0, right 0%, right 40%, right 60%;}

}

@-webkit-keyframes animated {
    0%   {background-position: 0 0, left 0%, 30% 40%, 70% 60%;}
    50%  {background-position: 0 0, 55% 0%, 70% 40%, 80% 60% ;}
    100% {background-position: 0 0, right 0%, right 40%, right 60%;}
}

* {
	padding:0;
	margin:0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

header{
    text-align: center;
}
 
body {
  
    background-color:cornflowerblue;
    /* casa, nube grande , nube media, nube chica*/
    background-image: url("../img/KAME HOUSE.png") ,url("../img/nubes/cloud04.png"),url("../img/nubes/cloud03.png"), url("../img/nubes/cloud08.png") ;
    background-repeat: no-repeat, repeat-x, repeat-x, repeat-x;
    background-size: cover, 500px 250px, 300px 250px , 150px 150px;
    background-attachment: fixed;
    
	font-family:helvetica, arial, sans-serif;
    line-height:20px;

    animation-name: animated;
    animation-duration:50s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}
 
.contenedor {
	width: 90%;
	max-width:900px;
	margin:auto;
}
 
article {
	background:rgba(24,8,33,.9);
	padding:20px;
	margin:20px 0;
	color:#fff;
	box-shadow:0 5px 5px 3px rgba(0, 0, 0, 0.25);
}
 
article h2 {
    color:#fff;
    text-align: center;
}
 
article hr {
	background:#F64740;
	height:5px;
	border:none;
}
 
article p {
	line-height: 25px;
}
 
article h2, article p, article hr {
	margin-bottom: 20px;
}

.primero{
    margin-top: 35%;
}

#poster{
    width: 100%;
}
.personaje{
    text-align: center;
}
.contenedorimg img{
    width:25%;
    height:300px;
}
.contenedorimg img:hover{
    transform: scale(1.2); /* Igual que: scaleX(0.7) scaleY(0.7) */
  
}