.contenedor {
	width: 90%;
	max-width:900px;
	margin:auto;
}
 
article {
	background:rgba(24,8,33,.9);
	color:#fff;
    box-shadow:0 5px 5px 3px rgba(0, 0, 0, 0.25);
}
 
article h2 {
    color:#fff;
    text-align: center;
    margin: 10px;
    padding: 10px;
}
article h3 {
    margin: 10px;
    color:#fff;
    text-align: center;
}
 
article hr {
	background:#F64740;
    height:5px;
    margin: 10px;
	border:none;
}
article h1, article hr {
	margin-bottom: 20px;
}

* {
    box-sizing: border-box;
}
.acordeon{
    width: 90%;
	max-width:900px;
    margin:auto;
    
}
.acordeon__item img{
    width: 20%;
}
.acordeon__item img:hover{
    transform: scale(1.3);
}

.acordeon input {
    display: none;
}

.acordeon__titulo {
    display: block;
    padding: 15px;
    background: crimson;
    color: #fff;
    font-size: 20px;
    cursor: pointer;
    border-bottom: 1px solid #fff;
}
.acordeon__titulo:hover {
    background: rgba(220, 20, 60, 0.8);
}

.acordeon__contenido {
    color: white;
    overflow: hidden;
    margin: 0;
    padding: 0;
    transition: all .2s ease-in;
}

.expandable {
    height: 0;
    color: white;
    visibility: collapse;
  }

.acordeon input:checked ~ .expandable {
    padding: 3%;
    visibility: visible;
    height: auto;
    transition: all .25s ease-in;
  }