

.formulario {
    width: 500px;
    max-width: 100%;
    margin: 20PX;
    margin-top: 30px;
    padding: 20px;
    background: rgba(24,8,33,.8);
    box-shadow: 0 0 20px 1px rgba(111, 4, 133, 0.3);
    position: relative;
  }
  .formulario__titulo {
    width: 100%;
    text-align: center;
    margin-top: 0;
    color: rgba(255,255,255 ,0.7);
  }
  

  .formulario .row{
      width: 80%;
  }
  .formulario__input, .formulario__label, .formulario__submit {
    display: block;
    width: 100%;
    font-size: 1.3em;
  }
  .formulario__input {
    width: 100%;
    padding: 10px;
    background: rgba(255,255,255,0.1);
    border: 1px solid rgba(0,0,0,0.3);
    z-index: 3;
    margin: 20px;
  }
  .formulario__input:focus {
    width: 100%;
    outline: 1px solid rgba(0,0,0);
    cursor: pointer;
  }
  .formulario__input:focus + .formulario__label{

    margin-top: -80px;
  }
  hr{
      z-index: -1;
  }

  .formulario__label {
    padding-left: 40px;
    position: absolute;
    margin-top: 10px;
    width: 80%;
    z-index: 1;
    color: rgba(255,255,255,0.5);
    transition: all 0.2s;
  }
  .formulario select{

    color: rgba(255,255,255,0.5);
  }
  .formulario select:focus{
      background-color: rgba(24,8,33,.9);
    color: rgba(255,255,255,0.5);
  }

  .formulario__submit {
    background: rgba(111,4,133);
    color: white;
    padding: 10px 20px;
    cursor: pointer;
    border: none;
  }
  .fijar {
    margin-top: -100px;
  }